.page-title {
  margin-right: 50px;
  color: var(--bs-gray-900);
  font-weight: 700;
  line-height: 33px;
  font-size: 24px;
}

.header {
  margin-bottom: 44px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}