.page-title {
  margin-right: 50px;
  color: var(--bs-gray-900);
  font-weight: 700;
  line-height: 33px;
  font-size: 24px;
}

.header {
  margin-bottom: 44px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.select {
  cursor: pointer;
  position: relative;
  user-select: none;
  display: inline-block;

  span {
    vertical-align: middle;
  }

  &-controller {
    display: none;


    &:checked ~ .select-list {
      max-height: 200px;
      border: 0.5px solid var(--bs-success);
    }

    &-btn{
      color: var(--bs-gray-900);
      font-weight: 700;
      line-height: 24px;
      min-width: 113px;
      cursor: pointer;

      span {
        margin-left: 9px;
      }
    }
  }

  &-list {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: -8px;
    white-space: nowrap;
    background-color: var(--bs-success);
    border-radius: 4px;

    li {
      padding: 8px;
      transition: 0.3s;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: var(--bs-success);
      }
    }
  }
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.button {
  display: inline-block;
  padding: 8px 33px;
  border-radius: 4px;
  line-height: 1.5;
  transition: 0.3s;

  &-fluid {
    display: block;
    width: 100%;
    text-align: center;
  }

  &-success {
    background-color: var(--bs-success);
    color: #fff;
    border: 1px solid var(--bs-success);

    &:hover {
      border-color: var(--bs-teal);
      background-color: var(--bs-teal);
      color: #fff;
    }
  }

  &-outline-success {
    border: 1px solid var(--bs-success);
    color: var(--bs-success);

    &:hover {
      background-color: var(--bs-success);
      color: #fff;
    }
  }

  &-danger {
    background-color: var(--bs-danger);
    color: #fff;
    border: 1px solid var(--bs-danger);

    &:hover {
      background-color: var(--bs-pink);
      border-color: var(--bs-pink);
      color: #fff;
    }
  }

  &-outline-danger {
    border: 1px solid var(--bs-danger);
    color: var(--bs-danger);

    &:hover {
      background-color: var(--bs-danger);
      color: #fff;
    }
  }

  &.disabled {
    background-color: #fff;
    border-color: currentColor;
    color: var(--bs-gray-400);
    cursor: not-allowed;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  li {
    border: 1px solid var(--bs-success);
    border-right: 0;
    line-height: 24px;

    &.active {
      background-color: var(--bs-success);

      a {
        color: #fff;
      }
    }

    &:not(.active):hover {
      background-color: var(--bs-gray-400);
    }
  }

  a {
    color: var(--bs-gray-900);
    display: block;
    height: 100%;
    padding: 6px 11.5px 7px;
  }

  span {
    vertical-align: middle;
  }

  > :first-child a,
  > :last-child a {
    display: block;
    padding: 4px;
    color: var(--bs-success);
  }

  > :first-child {
    border-radius: 2px 0 0 2px;
  }

  >:last-child {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid var(--bs-success);
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;

  &.show {
    display: block;
  }
}